#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

.imdone/
chatproject/settings.py
chatproject/wsgi.py
cr_config.py
*.sqlite3
frontpage/static/shared/BebasKai-Regular.otf
frontpage/static/shared/BebasKai_gdi.eot
frontpage/static/shared/BebasKai_gdi.svg
frontpage/static/shared/BebasKai_gdi.ttf
frontpage/static/shared/BebasKai_gdi.woff
frontpage/static/shared/jquery.address-1.5.js
frontpage/static/shared/jquery.address-1.5.min.js
frontpage/static/shared/mo.min.js
*/migrations/
*/apps.py
*/admin.py
*/tests.py
*/__pycache__/
frontpage/models.py
messages_app/models.py
frontend_utils/static/frontend_utils/js/util-toggle.min.js
frontpage/static/shared/js/mo.min.js
frontpage/static/shared/img/geometry2.png
frontpage/static/shared/img/Legal.txt
