#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

.imdone/
comet/settings.py
comet/wsgi.py
cr_config.py
*.sqlite3
frontpage/static/shared/BebasKai-Regular.otf
frontpage/static/shared/BebasKai_gdi.eot
frontpage/static/shared/BebasKai_gdi.svg
frontpage/static/shared/BebasKai_gdi.ttf
frontpage/static/shared/BebasKai_gdi.woff
frontpage/static/shared/jquery.address-1.5.js
frontpage/static/shared/jquery.address-1.5.min.js
frontpage/static/shared/mo.min.js
chat_test
*/migrations/
*/apps.py
*/admin.py
*/tests.py
*/__pycache__/
frontpage/models.py
messages_app/models.py
frontpage/static/shared/js/mo.min.js
frontpage/static/shared/img/geometry2.png
frontpage/static/shared/img/Legal.txt
frontpage/templates/shared/nav.min.html
frontpage/templates/shared/push-messages.min.html
accounts/static/accounts/main.min.css
accounts/templates/login/index.min.html
accounts/templates/register/index.min.html
frontpage/static/frontpage/main.min.css
frontpage/static/shared/css/dropdown.min.css
frontpage/static/shared/css/nav.min.css
frontpage/static/shared/css/push-messages.min.css
frontpage/static/shared/css/util-btn-sheen.min.css
frontpage/static/shared/js/hamburger.min.js
frontpage/static/shared/js/nav.min.js
messenger/templates/messages/index.min.html
messenger/static/messages/css/desktop.min.css
messenger/static/messages/css/mobile.min.css
frontpage/static/shared/css/footer.min.css
frontpage/static/shared/js/push-message.min.js
frontpage/templates/frontpage/index.min.html
frontpage/templates/shared/footer.min.html
accounts/templates/accounts/index.min.html
messenger/static/messages/css/main.min.css
frontpage/static/shared/js/jquery-2.2.2.min.js
frontpage/static/shared/js/jquery.slimscroll.min.js
messenger/templates/messenger/index.min.html
messenger/static/messenger/css/main.min.css
frontpage/static/shared/js/socket.io.js
