#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

.imdone/
comet/settings.py
comet/wsgi.py
cr_config.py
*.sqlite3
chat_test
*/migrations/
*/apps.py
*/admin.py
*/tests.py
*/__pycache__/
accounts/static/accounts/main.min.css
accounts/templates/accounts/index.min.html
comet_socketio/static/comet_socketio/js/socket.io.js
docs/models.py
messenger/static/messenger/css/main.min.css
messenger/static/messenger/js/messenger.min.js
messenger/templates/messenger/index.min.html
pages/static/shared/css/nav.min.css
pages/static/shared/js/base.min.js
pages/static/shared/js/jquery-2.2.2.min.js
pages/static/shared/js/jquery.pjax.js
pages/static/shared/js/mo.min.js
pages/static/shared/js/particles.min.js
pages/static/shared/js/nprogress.js
pages/static/shared/js/slimscroll.js
pages/templates/shared/footer.min.html
pages/templates/shared/nav.min.html
pages/templates/shared/push-messages.min.html
pages/static/shared/js/push.min.js
pages/static/shared/js/ripple.min.js
messenger/static/messenger/img/escheresque_ste.png
messenger/static/messenger/img/stardust.png
messenger/static/messenger/img/footer_lodyas.png
