{% extends 'shared/base.html'|pjax:request %}

{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block extra_css %}<link href="{% static 'messenger/css/messenger.css' %}" type="text/css" rel="stylesheet">{% endblock %}
{% block extra_js %}<script src="{% static 'messenger/js/messenger.js' %}"></script>{% endblock %}

{% load messenger_tags %}

{% block modals %}
<div class="modal-create modal">
    <p class="modal-title">Create Group</p>

    {# Modal Form TODO Rewrite form without Django #}
    <form action="{% url 'create' %}" method="post" novalidate>
        {% csrf_token %}

        <div class="modal-input-container">
            <p>Group Name</p>
            <div><input id="id_name" maxlength="32" name="name" type="text" /></div>
        </div>

        <div class="modal-checkbox-container">
            <input id="id_is_public" name="is_public" type="checkbox" />
            <label for="id_is_public" class="noselect">Make this group public</label>
        </div>

        {# Modal Button Wrapper #}
        <div class="modal-button-wrapper">
            <input type="submit" value="Create">
            <div class="modal-silent-button noselect modal-create-cancel">
                Cancel
                <link class="rippleJS"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
    <script>
        {% if channel_id != None %}
            window.channel_id = "{{ channel_id }}";
            window.is_group = {{ is_group|yesno:"true,false" }};
        {% else %}
            window.channel_id = null;
        {% endif %}
    </script>

    {# Wrapper #}
    <div class="messenger-wrapper">

        {# Section One: Channel List #}
        <section class="channel-list">

            {# Toolbar #}
            <div class="messenger-toolbar">
                <i class="channel-tab-back material-icons noselect">arrow_back</i>
            </div>

            {# Search #}
            <div class="search-wrapper">
                <div class="search">
                    <i class="material-icons noselect">search</i>
                    <input class="search-input" type="text" spellcheck="false" placeholder="Search Users">
                </div>
            </div>

            {# Friends/Groups #} <!-- TODO Update with AJAX or Sockets -->
            <!-- Load the 10 most recent channels and refresh frequently -->
            <div class="channel-list-inner">

                {# Channel Template #}
                <a class="chnl-wrapper noselect">
                    <div class="chnl-image"></div>
                    <div class="chnl-info">
                        <p class="chnl-name">Template Channel</p>
                        <div class="last-message-wrapper">
                            <p class="last-message">User: This is the last message that was sent in this channel.</p>
                            <p class="last-message-time">2:30pm</p>
                        </div>
                    </div>
                </a>

                {# Channel Template #}
                <a class="chnl-wrapper noselect" active>
                    <div class="chnl-image"></div>
                    <div class="chnl-info">
                        <p class="chnl-name">Template Channel</p>
                        <div class="last-message-wrapper">
                            <p class="last-message">User: This is the last message that was sent in this channel.</p>
                            <p class="last-message-time">2:30pm</p>
                        </div>
                    </div>
                </a>

            </div>
        </section>


        {# Section Two: Channel Panel #}
        <section class="channel-panel">
            {# Toolbar #}
            <div class="messenger-toolbar">

                {# Open Channel Tab (Mobile) #}
                <i class="open-channel-tab material-icons noselect">menu</i>

                {% if channel_id == None %}
                    <p class="no-channel">No Channel Selected</p>
                {% elif is_group %}
                    <p class="channel-title">{{ chat_title }}</p>
                {% else %}
                    <p class="channel-username">{{ chat_title }}</p>
                    <input class="channel-nickname" type="text">
                {% endif %}

                {# Open Info Tab (Mobile) #}
                <i class="open-info-tab material-icons noselect">info_outline</i>
            </div>

            {# Messenger Body #}
            <div class="messenger-body">

                {# Template Message #}
                <div class="message-wrapper" data-left data-image data-sender="Lewis">
                    <div class="message-image"></div>
                    <div class="message-content-wrapper">
                        <p class="message-content">Hey, did you get the milk?</p>
                    </div>
                </div>

                {# Template Message (No image) #}
                <div class="message-wrapper" data-left data-sender="Lewis">
                    <div class="message-content-wrapper">
                        <p class="message-content">Actually nevermind, I just found some old milk in the fridge.</p>
                    </div>
                </div>

                {# Template Message (From user) #}
                <div class="message-wrapper" data-right data-image data-sender="Sean">
                    <div class="message-image"></div>
                    <div class="message-content-wrapper">
                        <p class="message-content">Don't drink that! It's atleast a few months old...</p>
                    </div>
                </div>

            </div>

            {# Messenger Footer #}
            <div class="messenger-footer">

                <!-- TODO X is typing... -->

                {# Messenger Input #}
                <div class="messenger-input-wrapper">
                    <p class="messenger-input-placeholder">Enter a message...</p>
                    <div class="messenger-input" contenteditable></div>
                </div>

            </div>
        </section>


        {# Section Three: Channel Info #}
        <section class="channel-info">

            {# Toolbar #}
            <div class="messenger-toolbar">
                <i class="channel-info-back material-icons noselect">arrow_back</i>
                {% if channel_id == None %}
                    <p class="channel-info-title">No Channel</p>
                {% else %}
                    <p class="channel-info-title">{{ chat_title }}</p>
                {% endif %}
                <i class="hidden-icon material-icons noselect">fingerprint</i>
            </div>

            <!-- TODO Allow this to be PJAXed and AJAXed -->
            {% if is_group %}
                {# Channel Title and Type #}

                {# Channel URL #}

                {# Channel Image #}

                {# Channel Moderators #}

                {# Channel Members (If not too large) #}

                {# Creator Info and Date #}
            {% else %}
                {# Username and Nickname #}

                {# User Tags and Achievements (In a Modal) #}

                {# User Image #}

                {# User Bio #}

                {# User Links #}

                {# Friend Status #}

                {# Private Message (If not in private message) #}
            {% endif %}
        </section>

    </div>
{% endblock %}
