{% extends 'shared/base_modal.html' %}

{# Unfortunately, there is no better way to do this in Django #}
{% block class1 %}create{% endblock %}
{% block class2 %}create{% endblock %}

{% block body %}
    <p class="modal-title">Create Group</p>
    <form action="{% url 'create' %}" method="post" novalidate>
        {% csrf_token %}
        {% load messenger_tags %}
        {% for field in create_chat_form %}
            {% if field|field_type == "CheckboxInput" %}
                <div class="modal-checkbox-container">
                    {{ field }}
                    <label for="id_is_public" class="noselect">{{ field.label }}</label>
                </div>
            {% else %}
                <div class="modal-input-container">
                    <p>{{ field.label }}</p>
                    <div>{{ field }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <!--<p class="modal-note">Note: Anyone with the URL can join a public group.</p>-->
        <div class="modal-button-wrapper">
            <input type="submit" value="Create">
            <div class="modal-silent-button noselect modal-create-cancel">
                Cancel
                <link class="rippleJS"/>
            </div>
        </div>
    </form>
{% endblock %}
