{% extends 'shared/base.html' %}

{% load staticfiles %}
{% block title %}{{ title }} | Private, Open Source Messaging{% endblock %}
{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'frontpage/main.css' %}">{% endblock %}

{% block body %}
    <!-- Jumbo -->
    <div class="jumbo">
        <div class="wrapper">
            <p id="head">Private, Open Source Messaging.</p>
            <p id="description">Free instant messaging, built for everyone - the way it should be.</p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'messages' %}" class="btn-sheen noselect spf-link">Open Messenger</a>
            {% else %}
                <a href="{% url 'register' %}" class="btn-sheen noselect spf-link">Join the Comet Beta</a>
            {% endif %}
            <div class="placeholder"></div>
        </div>
    </div>

    <!-- Beta Warning -->
    <div class="beta">
        <div class="wrapper">
            <i class="material-icons beta-item">warning</i>
            <p class="beta-item">This project is still in development.</p>
            <a class="beta-item" href="/beta">Find out what this means for you.</a>
        </div>
    </div>

    <!-- About -->
    <div class="wrapper">
        <div class="about">
            <div class="topic"></div>
            <div class="topic"></div>
            <div class="topic"></div>
        </div>
    </div>

    <!-- Features -->
    <div class="features" id="features">
        <div class="wrapper">
            <div class="table"></div>
        </div>
    </div>
{% endblock %}
