{% extends 'shared/base.html'|pjax:request %}

{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/frontpage.css' %}">
{% endblock %}
{% block extra_js %}{% endblock %}

{% block content %}
    <div class="spacer"></div>

    {# Page Header #}
    <section class="page-header">
        <div class="content-wrapper">
            <header>Comet Messenger</header>
            <p>Private instant messaging. It's that simple.</p>

            {% if request.user.is_authenticated %}
                <a href="{% url 'messages' %}" class="button-shiny" data-pjax>Open Messenger</a>
            {% else %}
                <a href="{% url 'register' %}" class="button-shiny">Join the Comet Beta</a>
            {% endif %}

            <img class="non-mobile" src="{% static 'pages/img/Chrome_Website_Mockup.png' %}">
            <img class="mobile" src="{% static 'pages/img/mobile.png' %}">
        </div>
    </section>

    {# Supported Platforms #}
    <section class="supported-platforms">
        <div class="content-wrapper">
            <div class="platform-wrapper">
                <!--
                    Icons made by Pixel Buddha from www.flaticon.com is licensed by CC 3.0 BY
                    http://www.flaticon.com/authors/pixel-buddha
                    http://www.flaticon.com
                    http://creativecommons.org/licenses/by/3.0/
                -->
                <a class="platform-web" href="/">
                    <img src="{% static 'pages/img/chrome.svg' %}">
                    <p>Web</p>
                </a>
                <a class="platform-windows tooltip-trigger">
                    <img src="{% static 'pages/img/microsoft.svg' %}">
                    <p>Windows</p>
                    <div class="tooltip-container"><span class="tooltip">Coming soon!</span></div>
                </a>
                <a class="platform-macintosh tooltip-trigger">
                    <img src="{% static 'pages/img/apple.svg' %}">
                    <p>Macintosh</p>
                    <div class="tooltip-container"><span class="tooltip">Coming soon!</span></div>
                </a>
                <a class="platform-android tooltip-trigger">
                    <img src="{% static 'pages/img/google-play.svg' %}">
                    <p>Android</p>
                    <div class="tooltip-container"><span class="tooltip">Coming soon!</span></div>
                </a>
                <a class="platform-ios tooltip-trigger">
                    <img src="{% static 'pages/img/app-store.svg' %}">
                    <p>iOS</p>
                    <div class="tooltip-container"><span class="tooltip">Coming soon!</span></div>
                </a>
            </div>
        </div>
    </section>

    {# Feature Comparison #}
    <section class="features" id="features">
        <div class="content-wrapper">
            <header class="section-title">Features</header>

            {# Feature Table #}
            <div class="table">
                <div class="table-column">
                    <div class="table-title-empty"></div>
                    <div class="table-cell-info">100% Privacy</div>
                    <div class="table-cell-info">Full Access to Source Code</div>
                    <div class="table-cell-info">Sells User Information</div>
                    <div class="table-cell-info">Unlimited Username Changes</div>
                    <div class="table-cell-info">Two Factor Authentication</div>
                </div>
                <div class="table-column-facebook">
                    <div class="table-title-facebook"></div>
                    <div class="table-cell">No</div>
                    <div class="table-cell">No</div>
                    <div class="table-cell">Yes</div>
                    <div class="table-cell">No</div>
                    <div class="table-cell">No</div>
                </div>
                <div class="table-column-premium">
                    <div class="table-title-premium"><img src="{% static 'shared/img/logo.svg' %}"></div>
                    <div class="table-cell" data-mobile="100% Private" data-desktop="Yes"></div>
                    <div class="table-cell" data-mobile="Full Access to Source Code" data-desktop="Yes"></div>
                    <div class="table-cell" data-mobile="We Never Sell User Information" data-desktop="Never"></div>
                    <div class="table-cell" data-mobile="Unlimited Username Changes" data-desktop="Yes"></div>
                    <div class="table-cell" data-mobile="Two Factor Authentication" data-desktop="Coming Soon"></div>
                </div>
            </div>
        </div>
    </section>

    {% include 'shared/footer.html' %}
{% endblock %}
