{% extends 'shared/base_modal.html' %}

{% block class %}connecting{% endblock %}
{% block attributes %}foreground{% endblock %}

{% load staticfiles %}
{% block body %}
    <img src="{% static 'shared/img/logo.svg' %}">
    <p>Connection lost. Attempting to reconnect...</p>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    {# Run in Background Button #}
    <section class="noselect bgify tooltip-trigger">
        Continue in Background
        <div class="tooltip-container" data-fill-type="fill">
            Clicking this button will let you continue using Comet, but you will not be able to complete any tasks which require a connection.
        </div>
    </section>
{% endblock %}
