{% extends 'shared/base_modal.html' %}

{% block class %}connecting{% endblock %}
{% block attributes %}foreground{% endblock %}

{% load staticfiles %}
{% block body %}
    <img src="{% static 'shared/img/logo.svg' %}">
    <p>Connection lost. Attempting to reconnect...</p>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <a class="btn-sheen noselect spf-link bgify">Continue in Background</a>
    {# TODO Add a tool tip here #}
{% endblock %}
