<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% load staticfiles %}
        <link href="{% static 'accounts/main.css' %}" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <link rel="icon" type="image/ico" href="{% static 'frontpage/favicon.ico' %}">
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    </head>
    <body>
        {% if messages or form.non_field_errors %}
            <div class="messages">
                {% for message in messages %}
                <p class="message message-{{ message.tags }}">{{ message|escape }}</p>
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p class="message message-error">{{error}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="wrapper">
            <a href="{% url 'frontpage' %}">
                <img src="{% static 'accounts/logo-b-c.png' %}" alt="{{ title }}" class="logo"/>
            </a>
            <div class="container">

                <!-- FORM TITLE -->
                <p class="form-title">Login to {{ projectname }}</p>

                <form action="/login{{ next_dir }}" method="post" novalidate>
                    {% csrf_token %}

                    <!-- FIELDS -->
                    {% for field in form %}
                    <div class="input-container">
                        <p class="input-title">{{ field.label }}</p>
                        <div class="input-body">
                            {{ field }}
                        </div>
                        <!-- FIELD ERRORS -->
                        {% if field.errors %}
                        <ul class="input-error">
                            {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <!-- MATERIAL BUTTONS -->
                    <div class="btn-material-bar">
                        <input type="submit" class="btn-material" value="Login">
                    </div>
                </form>
                <p class="register-note">Don't have an account? <a href="{% url 'register' %}{{ next_dir }}">Create one.</a></p>
            </div>
            <p class="note">By using this service you agree to the <a href="/docs/terms" target="_blank">terms and conditions</a>, <a href="/docs/privacy" target ="_blank">privacy policy</a> and <a href="/docs/cookies" target="_blank">cookies policy.</a></p>
        </div>
    </body>
</html>
